body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(24, 0, 255, 1) 0%, rgba(0, 60, 212, 1) 50%, rgba(0, 0, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(24, 0, 255, 1) 0%, rgba(0, 60, 212, 1) 50%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(24, 0, 255, 1) 0%, rgba(0, 60, 212, 1) 50%, rgba(0, 0, 0, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1800FF', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(24, 0, 255, 1) 0%, rgba(0, 60, 212, 1) 50%, rgba(0, 0, 0, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(24, 0, 255, 1) 0%, rgba(0, 60, 212, 1) 50%, rgba(0, 0, 0, 1) 100%);
    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* html {
  height: 100%;
} */
